/* styles for tooltip*/

:local(.defaultStyle) {
    width: 250px;
    padding: 15px;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    background: #fff;
}

:local(.defaultClose) {
    fill: #000;
}

:local(.defaultTriangle) {
    fill: #fff;
}

:local(.container) {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    display: block;
    position: absolute;
    z-index: 1000;
    cursor: default;
}

:local(.inner) {
    position: relative;
}

:local(.svg) {
    max-height: 100%;
    max-width: 100%;
}

:local(.close) {
    composes: svg;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 10px;
    height: 10px;
    cursor: pointer;
}

:local(.close:hover) {
    opacity: 0.9;
}

:local(.triangle) {
    composes: svg;
    position: absolute;
}

:local(.triangleStroke) {
    stroke: rgba(0, 0, 0, 0.1);
}

:local(.top .triangle) {
    transform: rotate(180deg) translateZ(0);
}

:local(.left .triangle) {
    transform: rotate(90deg) translateZ(0);
}

:local(.right .triangle) {
    transform: rotate(-90deg) translateZ(0);
}

:local(.shadow) {
    box-shadow: 1px 5px 5px 0 rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

:local(.triangleShadow) {
    -webkit-filter: drop-shadow( -1px -5px 2px #bbb );
    filter: drop-shadow( -1px -5px 2px #bbb );
}
